body {
  height: 100vh;
  margin: 0;
  font-family: "Roboto" Oxygen, Fira Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: rgb(8, 11, 12);
  /* background-image: linear-gradient(
    138deg,
    rgb(86 107 219 / 79%),
    rgb(70 131 144 / 95%)
  ); */
  background-image: linear-gradient(
    138deg,
    rgba(26, 161, 14, 0.79),
    rgba(8, 11, 12, 0.95)
  );
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: rgb(8, 11, 12);
}
